body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #F9F6ED;
}

html, body {
    height:100%;
}


.container {
	width: 100%;
	height: 100%;	
}

.container-circle{
	display: flex;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.circle {
	border: 2px solid black;
    background-color: #F9F6ED;
    height: 200px;
    width: 200px;
    border-radius:50%;
    display: flex;
    align-items: center;

}

p {
	text-align: center;
}