body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #F9F6ED;
}

html, body {
    height:100vh;
    min-height: 100vh;
}

body {
  min-height: 100vh;
}

.container {
	width: 100%;
	height: 100vh;
  overflow: hidden; 

}

.container-items{
	display: flex;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}

p {
	text-align: center;
	width: 100%;
}

.menu-navbar {
  display: flex;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 0px;
  justify-content: space-around;
}


nav ul li a {
  color: #000000;
  text-decoration: none;
  width: 100%;
  padding: 0em 2em;
  background-color:rgb(249, 246, 237);
}

.container-links {
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  padding: 10px 10px;
}

.contact-links {
  display: flex;
  text-decoration: none;
}

.container-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.container-links a:hover {
  filter: drop-shadow(0 0 0.75rem rgb(0, 96, 117));
}

.another-circle {
  stroke-dasharray: 227;
  stroke-dashoffset: 227;
  transition: stroke-dashoffset 0.85s linear;
}

.another-circle:hover {
  stroke-dashoffset: 0;
}

#arc {
  width: 259px;
  height: 156px;
  border: solid 1.0px #000;
  border-color: black transparent transparent transparent;
  border-radius: 51%/100% 100% 0 0;
  position: fixed;
  top: 525px;
  border-top:2px dotted #000;
  
}




